.-modal {
    .-modal-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        z-index: 20;
        background-color: hsla(var(--hue) 10% 10% / 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        animation: wrapper-reverse .3s ease forwards;
    }

    .-container {
        // width: 50%;
        width: fit-content;
        margin: 0 .2em;
        background-color: var(--main-bg-color);
        height: fit-content;
        padding: 0.6rem 1rem 1rem;
        font-size: 1.5em;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        animation: container-reverse .3s ease forwards;

        &>* {
            &:not(:last-child) {
                margin-bottom: 0.6rem;
            }
        }
    }

    button {
        position: absolute;
        left: 1rem;
        top: 1rem;
        display: block;
        width: 1.6rem;
        height: 1.6rem;

        &:hover {
            span {
                background-color: var(--svg-active-color);
            }
        }

        span {
            position: absolute;
            width: 100%;
            height: .3rem;
            background-color: var(--svg-secondary-color);
            border-radius: .2rem;
            transition: all .2s ease;
            top: calc(50% - .15rem);
            left: 0;

            &:nth-child(1) {
                transform: rotate(45deg)
            }

            &:nth-child(2) {
                transform: rotate(-45deg)
            }
        }
    }
}
.-modal-active {
    .-modal-wrapper {
        animation: wrapper .3s ease forwards;
    }
    .-container {
        animation: container .3s ease forwards;
    }
}

@keyframes wrapper {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.4);
    }
}
@keyframes wrapper-reverse {
    0% {
        background-color: rgba(0, 0, 0, 0.4);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.0);
    }
}
@keyframes container {
    0% {
        opacity: 0;
        transform: translate(0, 20%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0%);
    }
}
@keyframes container-reverse {
    0% {
        opacity: 1;
        transform: translate(0, 0%);
    }
    100% {
        opacity: 0;
        transform: translate(0, 20%);
    }
}