@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
    height: var(--section-height);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--main-bg-color);

    .-container {
        display: flex;
        align-items: center;
    }
}