.color-name {
    font-size: 1.8em;
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    @media (max-width: 1200px) {
        font-size: 1.6em;
    }
    @media(max-width: 992px) {
        top: 26%;
        font-size: 2em;
    }
    @media(max-width: 576px) {
        top: 20%;
        margin-top: .8em;
        font-size: 1.6em;
    }
}
.color-name-dark {
    color: black;
    .color-value:hover {
        background-color: hsla(0deg, 0%, 0%, .2);
    }
}
.color-value {
    user-select: none;
    cursor: pointer;
    width: fit-content;
    padding: 0.05em 0.2em;
    border-radius: .2em;
    transition: background .3s ease;
}
.color-value:hover {
    background-color: hsla(0deg, 0%, 100%, .2);
}
.color-label {
    font-size: .7em;
}